<!-- start footer Area -->
<footer class="footer-area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h6>About Us</h6>
          <p>
            Adventourus, non-conformist with a purpose and passion…this is what pedalx and our tribe stands for. Our story began with and stands for the love of biking.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h6>Our Range</h6>
          <div >
           <ul>
            <li>MOUNTAIN</li>
            <li>HYBRID</li>
            <li>ROAD</li>
           </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-footer-widget mail-chimp">
       
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h6>Follow Us</h6>
          <p>Let us be social</p>
          <div class="footer-social d-flex align-items-center">
            <a href="https://www.instagram.com/njan_akshay/" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://twitter.com/njan_akshay?t=uQ_h7moViG_KzVXQotYuxg&s=09" target="_blank"> <i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/akshay-murali-b3186621b/" target="_blank"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>
<!-- End footer Area -->