<!--================Login Box Area =================-->
<section class="login_box_area section_gap mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="img/login-min.jpg" alt="">
                    <div class="hover">
                        <h4>New to our website?</h4>
                        <p>There are advances being made in science and technology everyday, and a good example of this
                            is the</p>
                        <a class="primary-btn" href="/register">Create an Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <div id="phonenumber-form">
                        <h3 id="enterno">Set New Password</h3>
                        <form class="row login_form" method="post" id="setNewPassword" autocomplete="off">
                            <div class="col-md-12 form-group">
                                <input type="password" class="form-control" id="newPassword" name="newPassword"
                                    placeholder="New Password" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'New Password'">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                    placeholder="Confirm Password" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Confirm Password'">
                            </div>
                            <div class="col-md-12">
                                <div id="senderror" style="color: rgb(173, 32, 32);">

                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="primary-btn">Change Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>

<script>


//axios
const setNewPassword = async (password) => {
  try {
    const res = await axios({
      method: "POST",
      url: "/set-new-password",
      data: {password},
    });
   location.assign('/')
  } catch (err) {
    console.log(err);
  }
};

$(document).ready(function () {
  $("#setNewPassword").validate({
    errorClass: "errors",
    rules: {
      newPassword: {
        required: true,
        minlength: 6,
      },
      confirmPassword: {
        required: true,
        minlength: 6,
        equalTo: "#newPassword",
      },
    },
    messages: {
      newPassword: {
        required: "Please enter your password",
        minlength: "Password should be atleast 6 characters",
      },
      confirmPassword: {
        required: "Please enter your password",
        equalTo: "The password and confirmation password do not match",
      },
    },
    submitHandler: function () {
      const newPassword = document.getElementById("newPassword").value;
      const confirmPassword = document.getElementById("confirmPassword").value;
      setNewPassword(newPassword,confirmPassword)
    },
  });
});

   
</script>