<section class="py-12" style="margin-top: 18%;
    margin-bottom: 15%;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">

        <!-- Icon -->
        <div class="mb-7 fs-1" style="font-size: 58px;
    margin-bottom: 37px;">❤️</div>

        <!-- Heading -->
        <h2 class="mb-3">Your Order is Completed!</h2>

        <!-- Button -->
        <a class="primary-btn" href="/user-orders/{{userId}}">
          View My Orders
        </a>

      </div>
    </div>
  </div>
</section>