<style>
	iframe{
		display: initial !important;
	}
</style>

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap mt-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="img/login-min.jpg" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="primary-btn" href="/register">Create an Account</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Log in to enter</h3>
						<form class="row login_form" id="userLogin" autocomplete="off">
							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
							</div>
							<div class="col-md-12 form-group">
								<div class="alert" style="color: rgb(173, 32, 32);">
									
								</div>
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Log In</button>
								<p><a href="/forgot-password">Forgot Password?</a></p>
							</div>
						</form>
						<a href="/login-with-otp"><button class="primary-btn mb-2" style="border: none;">Log In with OTP</button></a>
                        

		 <div id="buttonDiv" class="mt-4"></div> 


					</div>
				</div>
			</div>
		</div>
	</section>
	
<script src="/validations/userLogin.js"></script>

<script>
	 async function handleCredentialResponse(response) {
        console.log("Encoded JWT ID token: " + response.credential);
		const userJwt=response.credential
        try{
           const res = await axios({
            method: 'POST', url: '/sign-up-with-google', data: { userJwt }
          })
		  location.assign('/')
		}catch(err){
			console.log(err)
		}
           
        }


        window.onload = function () {
          google.accounts.id.initialize({
            client_id: "662197109050-mtcmgfon78p4qpqfa4oto0rimlisievo.apps.googleusercontent.com",
            callback: handleCredentialResponse
          });
          google.accounts.id.renderButton(
            document.getElementById("buttonDiv"),
            { theme: "outline", size: "large" }  // customization attributes
          );
          google.accounts.id.prompt(); // also display the One Tap dialog
        }
</script>


	

	